body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;

}
.vertical-section{
width: 55%; /* Line width */
border:5px ; /*line boarder*/
height: 450px; /* Override in-line if you want specific height. */
float: left; /* Causes the line to float to left of content. You can instead use position:absolute or display:inline-block if this fits better with your design */
}
/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 16px 32px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */


}


ul{
  margin:0;
  padding:0;
}
button {
  background-color: #538ec1;
  border: none;
  color: white;

  margin-top: -20px;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;

  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.signOut{

  margin-left: 350px;
  margin-bottom: 10px;
  margin-top: -40px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:10px;
  min-height:70px;
  border-bottom:#ffffff 3px solid;
  border: 3px
}
img{
  max-height: 300px;
  width: 100%;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;

}

header li{
  float:left;
  display:inline;
  padding: 0 10px 0 10px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#538ec1;
  font-weight:bold;
  text-align: center;
  margin-left: auto;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

.g-signin2{
  margin-bottom: 10px;
  margin-left: 200px;
  margin-top: -40px;


}
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: #778899;

}
#buttonPos{
  position: absolute;
  overflow: hidden;
  margin-right:  0;
  right: 0;
  



}

/* moveable elements */
#clock{

    left:500px;
    position: absolute;

    z-index: 9;
    background-color:#538ec1;
    border: 1px solid #d3d3d3;
    text-align: center;

}
#clockheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #DCDCDC;
  color: #fff;

}
#calendar{

  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;

}
#calendarheader{
  padding: 10px;
  cursor: move;
  z-index: 100;
  background-color: #DCDCDC;
  color: #fff;

}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}



/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

footer{
  position: absolute;
  overflow: hidden;
  width: 100%;
  padding:15px;
  margin-bottom: 0;
  bottom: 0;
  color:#ffffff;
  background-color:#778899;
  text-align: center;
}

header{
    padding-bottom:20px;
}

#showcase h1{
  margin-top:40px;
}
