body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.settings{
  width:100%;
  margin:auto;
  overflow:hidden;
}


.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 16px 32px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin-left: 700px;
  margin-top: -250px;
}


ul{
  margin:0;
  padding:0;
}
button {
  background-color: #538ec1;
  border: none;
  color: white;

  margin-top: -20px;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;

  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
/*google sign out **/
.g-signin2{
  margin-top: -40px;
  margin-left: 110px;
}
.signOut{
  margin-top: -30px;
  margin-right: 800px;
}

/* Header **/
header{
  background-color:#35424a;
  color:#ffffff;
  padding-top:5px;
  min-height:50px;
}
/* Banner Image **/
img{
  height: 270px;
  width: 100%;
  border-bottom:#8cd3ff 13px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;

}

header li{
  float:left;
  display:inline;
  padding: 0 10px 0 10px;
}

header #branding{
  float:left;

}

header #branding h1{
  margin:0px;
}

header nav{
  float:right;
  margin-top:5px;
}

header .highlight, header .current a{
  color:#538ec1;
  font-weight:bold;
  text-align: center;
  margin-left: auto;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Page Settings */
#myDIV {
  display: none;
  width: 100%;
  height:15px;
  padding: 35px 0;
  text-align: center;
  background-color: #778899;

}
#sett{
  background-color:#e23b56;
  color: black;"
}
#buttonPos{
  position: absolute;
  overflow: hidden;
  margin-left:  0;
  left: 0;
}

/* moveable elements */
/* CLOCK */
#clock{

    right:10px;
    top: -30px;
    position: absolute;
    z-index: 9;
    text-align: center;
    color:white;
}
#clockheader{

  margin: 0em auto;
  padding: 5px;
  cursor: move;
  z-index: 10;
}

/* NEWS */
#newsbox{
  float:left;
  height:430px;
  width:510px;
  overflow: scroll;
  right:1px;
  top:280px;
  position: absolute;
  z-index: 9;
  border: 1px solid black;
  text-align: center;
}

#newsheader{
  margin: 0em auto;
  padding: 5px;
  cursor: move;
  z-index: 10;
  background-color:black;
  color: #fff;
}
/* YOUTUBE */
#youtube{

    float:left;
    height:430px;
    width:580px;
    overflow: auto;
    right:37%;
    top:280px;
    position: absolute;
    z-index: 9;
    border: 1px solid black;
    text-align: center;
}

#youtubeheader{
  margin: 0em auto;
 padding: 5px;
 cursor: move;
 z-index: 10;
 background-color:black;
 color:black;
}
/* QUOTE */
#quote{
    float:left;
    height:75px;
    width:500px;
    left:5px;
    top:190px;
    position: absolute;
    z-index: 9;
    text-align:left;
    background-color:#c9c3a9;
}

#quoteheader{
  margin: 0em auto;
 padding: 5px;
 cursor: move;
 z-index: 10;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}
/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}
header{

    padding-bottom:20px;
    height: 20%;
    height: 20%;
}

#showcase h1{
  margin-top:40px;
}
/* weather app **/
.cont{
  width: 300px;
  height: 300px;
  left:10px;
  border-radius: 10px;
  box-shadow: 0 20px 40px 0px rgba(0,0,0,0.3)
}
#temp, #humidity-div {
  font-family: "Courier New";
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
}
.city-icon-holder {
  position:absolute;
  left: 25%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
#city-name {
  font-family: "Courier New";
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
#icon {
  width:70%;
}
#main{
  width: 100%;
  height: 100%;
  position: relative;
}
.city-icon {
  height: 80%;
  width: 50%;
  border-bottom-left-radius: 25px;
  background-color: #8c8c8c;
}
.temperature {
  position: absolute;
  left: 50%;
  top:0%;
  height: 40%;
  width: 50%;
  background-color: #9C27B0;
}
.humidity {
  height: 40%;
  width: 50%;
  position:absolute;
  left:50%;
  top:40%;
  border-bottom-right-radius: 25px;
  background-color: #1ec0e9;
}
#search-btn {
  width: 40px;
  height:30px;
  color: gray;
}
#search-txt {
  color: blue;
  height:30px;
  border-radius: 10px;
  border-style:none;
  outline:none;
  padding-right:1px;
  padding-left:1px;
  text-align:center;
}
.search {
  position: absolute;
  left: 10%;
  top:350px;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}
.printNews{
    margin:0em auto;
    font-size:2em;
}

footer{
  position: absolute;
  overflow: hidden;
  width: 100%;
  padding:5px;
  margin-bottom: 0;
  bottom: 0;
  color:#ffffff;
  background-color:#778899;
  text-align: center;
}
